{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="card">
    <h2>Proyecto XML para comercio electrónico</h2>
    <p>Esta aplicación lee información desde un archivo XML, valida su estructura mediante XSD, consulta datos mediante XPath y presenta información en vistas HTML.</p>
</div>
<div class="card">
    <h3>Flujo trabajado</h3>
    <p>XML bien formado → XSD → validación → XPath → XQuery → almacenamiento → transformación → aplicación.</p>
</div>
{% endblock %}
